In [7]:
import sqlalchemy as sqlal

In [8]:
import pandas as pd

In [9]:
query = '''SELECT customer.Lastname, customer.Firstname, track.Name, album.Title FROM customer 
        INNER JOIN invoice ON customer.CustomerId = invoice.CustomerId 
        INNER JOIN invoiceline ON invoice.InvoiceId = invoiceline.InvoiceId 
        INNER JOIN track ON invoiceline.TrackId = track.TrackId 
        INNER JOIN album ON track.AlbumId = album.AlbumId 
        ORDER BY customer.Lastname, customer.Firstname;'''

In [10]:
database = sqlal.create_engine('sqlite:///DataSources/Chinook_Sqlite.sqlite')

In [11]:
df = pd.read_sql(query, database)

In [14]:
df

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas
...,...,...,...,...
2235,Zimmermann,Fynn,Nothin' To Lose,Unplugged [Live]
2236,Zimmermann,Fynn,Since I've Been Loving You,BBC Sessions [Disc 2] [Live]
2237,Zimmermann,Fynn,Going To California,BBC Sessions [Disc 2] [Live]
2238,Zimmermann,Fynn,We're Gonna Groove,Coda
2239,Zimmermann,Fynn,Ozone Baby,Coda